<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="text-center">
      <h2>Rock, Paper and Scissors <br> <small>The Game</small></h2>

      <form (ngSubmit)="handleSubmit()" #gameForm="ngForm">
        <div class="form-group">
          <label>Player One</label>
          <input type="text" class="form-control" name="playerOne" [(ngModel)]="playerOne" required>
        </div>

        <div class="form-group">
          <label>Player Two</label>
          <input type="text" class="form-control" name="playerTwo" [(ngModel)]="playerTwo" required>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="gameForm.form.invalid || loading">Start
            Game</button>
        </div>
      </form>
    </div>

    <app-loading [loading]="loading"></app-loading>
  </div>
</div>
